html, body {
    margin: 0px;
    padding: 0px;
    font: normal 14px/16px "Trebuchet MS", Tahoma;
    background: #2a2a2a;
    color: #454545;
    width: 100%;
}

img {
    border: 0;
}

div {
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

h1 {

    font-size: 20px;
    font-weight: normal;
}

tr {
    vertical-align: top;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

.input_ajax {
    width: 600px;
}

#save {
    width: 100px;
}

.menu {
    color: #69aefc;
    font-weight: bold;
}

.menu:hover {
    color: #69aefc;
    font-weight: bold;
    text-decoration: none;
}

.rmenu {
    color: #1465c0;
}

.rmenu:hover {
    color: #1465c0;
    text-decoration: none;
}

.page {
    background-color: #ffffff;
    padding: 5px;
}

.page_block {
    float: right;
    margin-top:-27px;
    width: 300px;
}

.tedit {
    background-color: #ebf4ff;
    padding: 10px;
    width: 120px;
}

.tdel {
    background-color: #ebf4ff;
    padding: 10px;
    width: 50px;
}

a.tdel {
    color: #830000;
}

a.tedit {
    color: #1465c0;
}

.ttovar {
    background-color: #f7f7f7;
    padding: 10px;
}

.ttovar_title {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
}

.ttovarred {
    background-color: #ffdede;
    padding: 10px;
}

.ttovar_green {
    background-color: #ccffcc;
    padding: 10px;
}

.ttovar_red {
    background-color: #ffcccc;
    padding: 10px;
}

.ttovar_title_requared {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
    color: #ff9ea0;
}

a {
    color: #000000;
}

.head {
    padding-top: 10px;
    height: 83px;
}

.head .logo {
    padding-top: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.head_left {
    float: left;
    padding-left: 20px;
}

.login {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 30px;
    left: 70%;
    background: url('/i/login.gif') no-repeat;
    padding-top: 5px;
    padding-left: 20px;
}

.unlogged a {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: Trebuchet MS;
    color: #777;
    line-height: 23px;
}

.unlogged a.opene {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.unlogged a.regge {
    font-size: 11px;
    color: #777;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.unlogged a:hover {
    color: #666;
}

.unlogged {
    color: #ccc;
    padding-top: 5px;
}

.content {
    width: 100%;
    background-color: #ffffff;;
    margin: 0 3% 0 0;
    min-height: 800px;
}

li.task_list {
    list-style: none;
}

.ui-menu {
    width: 200px;
    position: absolute;
    z-index: 5000;
}

.ui-popup {
    position: absolute;
    z-index: 5000;
}

.task_action_menu {
    display: none;
    width: 130px;
    border: 1px solid gray;
    padding: 5px;
    background: lightgray;
    outline: none;
}

.action {
    padding: 2px;
}

.file_info {
    width: 250px;
    border: 1px solid gray;
    padding: 2px;
    background: lightgray;
    font-size: 12px;
    outline: none;
    position: absolute;
    z-index: 5000;
    display: none;
}

.index_block {
    width: 100%;
    min-height: 250px;
}

.index_block_title {
    height: 30px;
    text-align: left;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.index_block_content {
    margin: 5px;
}
