html, body {
    margin: 0;
    padding: 0;
    font: normal 14px/16px "Trebuchet MS", Tahoma;
    background: #2a2a2a;
    color: #454545;
    width: 100%;
}

img {
    border: 0;
}

div {
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

h1 {

    font-size: 20px;
    font-weight: normal;
}

tr {
    vertical-align: top;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

.input_ajax {
    width: 600px;
}

#save {
    width: 100px;
}

.menu {
    color: #69aefc;
    font-weight: bold;
}

.menu:hover {
    color: #69aefc;
    font-weight: bold;
    text-decoration: none;
}

.rmenu {
    color: #1465c0;
}

.rmenu:hover {
    color: #1465c0;
    text-decoration: none;
}

.page {
    background-color: #ffffff;
    padding: 5px;
}

.page_block {
    float: right;
    margin-top:-27px;
    width: 300px;
}

.tedit {
    background-color: #ebf4ff;
    padding: 10px;
    width: 120px;
}

.tdel {
    background-color: #ebf4ff;
    padding: 10px;
    width: 50px;
}

a.tdel {
    color: #830000;
}

a.tedit {
    color: #1465c0;
}

.ttovar {
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
}

a.ttovar {
    color: #000000;
}

.ttovar_title {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
}

.ttovarred {
    background-color: #ffdede;
    color: #ffdede;
    padding: 10px;
}

.ttovar_green {
    /* background-color: #ccffcc; */
    color: #418600;
    padding: 10px;
}

a.ttovar_green {
    color: #418600;
}

.ttovar_red {
    /*  background-color: #ffcccc; */
    color: #c13e2e;
    padding: 10px;
}

a.ttovar_red {
    color: #c13e2e;
}

.ttovar_title_requared {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
    color: #ff9ea0;
}

a {
    color: #000000;
}

.head {
    padding-top: 10px;
    height: 83px;
}

.head .logo {
    padding-top: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.head_left {
    float: left;
    padding-left: 20px;
}

.login {
    width: 450px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 58%;
    background: url('/i/login.png') no-repeat;
    padding-top: 5px;
    padding-left: 20px;
}

.unlogged a {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: Trebuchet MS;
    color: #777;
    line-height: 23px;
}

.unlogged a.opene {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.unlogged a.regge {
    font-size: 11px;
    color: #777;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.unlogged a:hover {
    color: #666;
}

.unlogged {
    color: #ccc;
    padding-top: 5px;
}

.content {
    width: 100%;
    background-color: #ffffff;;
    margin: 0 3% 0 0;
    min-height: 800px;
}

li.task_list {
    list-style: none;
}

.ui-menu {
    width: 200px;
    position: absolute;
    z-index: 5000;
}

.ui-popup {
    position: absolute;
    z-index: 5000;
}

.task_action_menu {
    display: none;
    width: 130px;
    border: 1px solid gray;
    padding: 5px;
    background: lightgray;
    outline: none;
}

.action {
    padding: 2px;
}

.file_info {
    width: 250px;
    border: 1px solid gray;
    padding: 2px;
    background: lightgray;
    font-size: 12px;
    outline: none;
    position: absolute;
    z-index: 5000;
    display: none;
}

/** First page **/
.index_block {
    width: 100%;
    min-height: 250px;
    margin: 5px;
}

.index_block_title {
    height: 30px;
    text-align: left;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.index_block_content {
    margin: 0;
}


/** Task **/

a.task_green {
    color: #418600;
}

a.task_red {
    color: #c13e2e;
}

a.task_grey {
    color: #000000;
}

a.task_has_access {
    color: #000000;
}

a.task_no_access {
    color: #a9a9a9;
}

.task_block {
    padding: 5px 0 5px 5px;
    /*width: 100%;*/
    height: 30px;
    margin: 0 5px;
    border-bottom: 1px dashed #cccccc;
    background-color: #f7f7f7;
    color: #000000;
}

.task_block_title {
    padding: 5px 0 5px 5px;
    /** width: 100%; **/
    height: 20px;
    margin: 0 5px;
    border-bottom: 1px dashed #cccccc;
    background-color: #f7f7f7;
    color: #000000;
}

.task_title {
    float:left;
    margin-left: 5px;
    vertical-align: middle;
}

.task_action {
    width: 120px;
    float:right;
}

.task_statistic {
    width: 200px;
    float: right;
}

.task_statistic a {
    text-decoration: none;
    vertical-align: top;
}

.task_deadline {
    width: 120px;
    float:right;
}

.task_subtask {
    display: none;
    margin-left: 20px;
}

.task_info {
    width: 250px;
    border: 1px solid gray;
    padding: 2px;
    background: lightgray;
    font-size: 12px;
    outline: none;
    position: absolute;
    z-index: 5000;
    display: none;
}


/** Discussion **/

.discussion_list {
    list-style: none;
    padding: 5px;
    background-color: #f7f7f7;
}

.discussion_block {
    padding: 5px;
}

.discussion_message {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.discussion_message_request {
    font-size: 12px;
    line-height: 16px;
    color: #c13e2e;
}

.discussion_info {
    color: #555555;
    font-size: 11px;
    line-height: 15px;
    margin: 5px 0 0 0;
}

.discussion_info button {
    font-size: 11px;
    height: 18px;
    margin: 1px;
    padding: 1px;
}

.discussion_submessage {
    margin-left: 20px;
    padding: 0;

}




